$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

.leftfloater {
    float: none;
    display: block;
    margin-bottom: 10px;
}

#carDelete {
    width: 60px;
    height: 20px;
}